html, body{
    padding: 0;
    margin: 0;


    /*position: relative;*/
}
.line{
    display: block;
    position: absolute;

}

.lineX{
    width: 100%;
    border-bottom: 1px dashed red;
}
.lineY{
    height: 100%;
    border-right: 1px dashed red;

}